/* FONTs*/
@font-face{
    src: url(fonts/Azonix.otf);
    font-family: header;
    
}

/*----fonts----*/

/*transition and animations*/

@keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to { 
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes shadow_text{
    0%{ text-shadow: 2px 2px 5px #000000;}
    75%{ text-shadow: 2px -2px 5px #000000;}
    50%{text-shadow: -2px -2px 5px #000000;}
    25%{ text-shadow: -2px 2px 5px #000000;}
    100%{text-shadow: 2px 2px 5px #000000;}
  }

  @keyframes max{
  0%{ font-size: 300%;}
  10%{font-size: 325%;}
  25%{ font-size: 350%;}
  35%{font-size: 375%;}
  50%{font-size: 400%;}
  60%{font-size: 375%;}
  75%{font-size: 350%;}
  85%{font-size: 325%;}
  100%{font-size:300%;}

  }
  @keyframes pic_inc{
 0%{ height:30%; width:30%;}
 25%{  margin-left: 30%; height:40%; width:30%;}
 50%{margin-left: 25%; height:50%; width:50%;}
 75%{margin-left: 30%; height:40%; width:40%;}
 100%{height:30%; width:30%;}
  }
/*---transitions and animations---*/

body{

background-color: #000000;
      
background-repeat:no-repeat;
   

    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    background-position-x: center;
    background-position-y: bottom;
    
}

div.container-fluid
{
  margin-top: 5%;
}

div.enigma_d
{   font-size:300%;
animation: shadow_text 2s infinite, max 2s;

}

img.center
{  
  
    height:30%;
    width:30%;
    align-content: center;
border-bottom-right-radius: 50%;
border-bottom-left-radius: 50%;
border-top-right-radius: 50%;
border-top-left-radius: 50%;
margin-left:35%;
margin-top:18%;
      margin-bottom:28%;
    filter: drop-shadow(3px 3px 5px #000000);
      animation: pic_inc 2s, rotate 2s infinite;
      -webkit-animation: pic_inc 2s, rotate 2s infinite;
      -moz-animation: pic_inc 2s, rotate 2s infinite;
      -o-animation: pic_inc 2s, rotate 2s infinite;
    }

h1.enigma_h
{  color:	#243A3E;
    font-family: header;
  vertical-align: top;
 text-align: center;
 margin-top:0%;
 margin-bottom:-0px;
  

}
h4.enigma_h4
{font-family: header;
   font-size:50%;
   text-align: center;
   padding-top:3%;
   padding-bottom:3%;
height:10%;
width:100%;
  }
h4.presents
{ color:rgb(255, 255, 255);
  float:right;
  font-family: header; 
  margin-right: 70%;
}
img.IEEE
{ margin-left:5%;
  height: 16%;
  width:10%;}
  
img.fb,img.mail
{ height:12%;
 width:12%;
    position: absolute; right: 0; bottom: 0; 
 
}  
p.first,p.second,p.last
{
  font-size:90%;
  font-family: header;
  color: rgb(255, 255, 255);

}
span.enigma
{
  font-family: header;
}
h4.head
{ 
font-family:header;
color:#ffffff;
font-size:200%;}


div.main_heading
{
  background:radial-gradient(
   closest-side at 50% 25% ,
    rgb(255, 255, 255) 25% ,
    rgb(000, 000, 000) 130%
    
  ) center center  ;
}

 
p.ieee,p.para
{
  color:white;
  font-family:header;
  font-size:80%;
}




















