/* FONTs*/
@font-face{
    src: url(fonts/Azonix.otf);
    font-family: header;
    
}

/*----fonts----*/

/*transition and animations*/

@keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to { 
      -webkit-transform: rotate(360deg);
    }
  }
/*---transitions and animations---*/

body{
background:

radial-gradient(
  rgb(255, 255, 255),
  rgb(000, 000, 000)
  
) center center fixed  ;
  

      background-repeat: no-repeat;
background-size:cover;
    backgrou

    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    background-position-x: center;
    background-position-y: bottom;
    
}

div.container-fluid
{
  margin-top: 20%;
}

div.enigma_d
{   font-size:300%;
   
}

img.center
{  
  
    height:50%;
    width:50%;
    align-content: center;
border-bottom-right-radius: 50%;
border-bottom-left-radius: 50%;
border-top-right-radius: 50%;
border-top-left-radius: 50%;
margin-left:24%;
margin-top:5%;
      -webkit-animation-name: rotate; 
      -webkit-animation-duration: 2s; 
      -webkit-animation-iteration-count: infinite;
      -webkit-transition-timing-function: linear;
      animation-name: rotate;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transition-timing-function: linear;


      margin-bottom:25%;
     
    }

h1.enigma_h
{  color:	#243A3E;
    font-family: header;
  vertical-align: top;
 text-align: center;
  

}
h4.enigma_h4
{font-family: header;
   font-size:50%;
   text-align: center;
   padding-top:3%;
   padding-bottom:3%;
height:10%;
width:100%;
  }
h4.presents
{ color:rgb(117, 117, 117);
  float:right;
  font-family: header; 
  margin-right: 70%;
}
img.IEEE
{ margin-left:5%;
  height: 10%;
  width:8%;}
  
img.fb,img.mail
{ height:12%;
 width:12%;
 
float:right;
}  

 




